/* custom.css */
@keyframes appear {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @media (min-width: 450px) {
    .animate-on-scroll {
      animation: appear linear;
      animation-timeline: view();
      animation-range: entry 0% cover 40%;
    }
  }
  