@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

/* index.css */

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #2d3748; /* Tailwind gray-800 */
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1a202c; /* Tailwind gray-900 */
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.7); /* semi-transparent black */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2d3748 rgba(0, 0, 0, 0.7); /* thumb color track color */
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: #2d3748; /* Tailwind gray-800 */
  border-radius: 0.25rem;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #1a202c; /* Tailwind gray-900 */
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.7); /* semi-transparent black */
}
